@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--primary);
}

:root {
  --font-family: "Poppins", sans-serif;
  --primary: rgb(23, 23, 65);
  --border: rgb(197, 197, 197);
  --black: #000;
  --white: #fff;
  --green:rgb(51, 120, 51);
  --danger:rgb(146, 0, 0);
}
